.yx-ct-banner {
    width: 100%;
    height: 420px !important;
    margin: 0 auto;
    background: url("../images/banner-0.jpg") center center no-repeat;
    /*background: url('../images/banner-2.jpg') center center no-repeat;*/
}

.yx-xt-banner-img {
    width: 1090px;
    height: 420px;
    margin: 0 auto;
    /*overflow: hidden;*/
}

.yx-xt-banner-img button {
    width: 50px;
    height: 50px;
    background-color: #D0C4AF;
    opacity: 0.8;
    border-radius: 50px;
    background-image: url("images/target1.png");
    background-position: 0 -4700px;
    top: 210px;
    position: relative;
}

.img-pre {
    left: -50px;
}

.img-next {
    left: 1035px;
    transform:rotate(180deg);
}

/*  flash 的显示条  */
.yx-xt-item {
    width: 200px;
    list-style: none;
    margin: 0 auto;
    /*border: 1px solid red;*/
    top: -30px;
    position: relative;
}

.yx-xt-item li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
}

/* manufacturingHeader */
.manufacturingHeader {
    width: 1090px;
    height: 50px;
    margin: 0 auto;
    margin-top: 25px;
}
.manufacturingHeader-title {
    float: left;
}

.manufacturingHeader-title h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
    margin-right: 20px;
}

.manufacturingHeader-title small {
    padding-top: 13px;
    display: inline-block;
    line-height: 1;
    color: #ccc;
    font-weight: 200;
    font-size: 12px;
}
.manufacturingHeader-more {
    float: right;
}

.manufacturingHeader-more a{
    display: inline-block;
    line-height: 1;
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
    font-size: 12px;
    font-weight: 200;
}

.m-show {
    width: 1090px;
    height: 320px;
    margin: 5px auto 0;
}

.m-show-1 {
    display: inline-block;
    width: 354px;
    height: 320px;
    float: left;
    border-bottom: 1px solid #cccccc;
    background: url("../images/qibugou.jpg") no-repeat center;
}

/* intro content */

.m-show-title {
    width: 354px;
    height: 30px;
    margin: 30px 0 auto;
    text-align: center;
}

.m-show-title a {
    font-size: 26px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

/* intro price */
.m-show-pirce {
    width: 60px;
    height: 30px;
    border-top: 1px solid #5c5c5c;
    padding-top: 15px;
    text-align: center;
    margin: 20px auto 0;
    -webkit-transform:scale(0.9);
    font-size: 16px;
}



.m-show-price-txt {
    font-weight: 100;
    color: white;
}

.m-show-2 {
    display: inline-block;
    width: 354px;
    height: 320px;
    float: left;
    margin-left: 14px;
    border-bottom: 1px solid white;

    /*background: url("../images/m-2.jpg") no-repeat center;*/
}

.m-show-3 {
    display: inline-block;
    width: 354px;
    height: 320px;
    float: left;
    margin-left: 14px;

    /*background-color: #decaa0;*/
}

.m-show-top {
    width: 354px;
    height: 153px;
    display: block;
    border-bottom: 1px solid #cccccc;
    /*background: url("../images/m-1.jpg") no-repeat center #9d9d9d;*/

}

.m-show-bottom {
    width: 354px;
    height: 153px;
    display: block;
    margin-top: 14px;
    border-bottom: 1px solid #cccccc;
    /*background: url("../images/m-1.jpg") no-repeat center #ccc;*/
}

.m-show-top-text {
    width: 300px;
    height: 50px;
    margin: 10px 0 0 10px;
    float: left;
    text-decoration: none;
    text-align: left;

}
.m-show-top-text a{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #5c5c5c;

}

.m-show-top-price {
    width: 65px;
    height: 30px;
    margin-left: 10px;
    float: left;


}

.m-show-top-price p {
    border-top: 1px solid #5c5c5c;
    font-weight: 100;
    padding-top: 10px;
}

/* new-pro 新品首发 */

.new-pro {
    width: 1090px;
    height: 320px;
    margin: 0 auto;
    margin-top: 5px;
    /*background-color: #decaa0;*/
    overflow: hidden;
    position: relative;
}
.n-pro-list {
    width: 3270px;
    height: 320px;
    position: relative;
    left: 0px;
}


.n-pro-list li{
    float: left;
    width: 270px;
    height: 320px;
    list-style: none;
    margin-right: 10px;
}


.box-show-top {
    width: 272px;
    height: 248px;

}

.box-show-top img {
    width: 272px;
    height: 248px;

}

.box-show-button{
    width: 272px;
    height: 70px;
    text-align: center;
    margin-top: 15px;
}
.box-show-button p {

    font-size: 12px;
    font-weight: bold;
}

.box-show-button span {
    font-size: 12px;
    color: red;
    font-weight: bold;
}

/* footer */

.yx-footer {
    border: 1px solid #cccccc;
    width: 100%;
    height: 320px;
    /*border: 1px solid orangered;*/
}

.yx-footer-intro {
    width: 1090px;
    height: 300px;
    margin: 0 auto;
}

.yx-footer-intro-content {
    width: 1090px;
    height: 204px;
    margin: 0 auto;
    margin-top:48px;
}

.footer-same {
    width: 360px;
    height: 204px;
    float: left;
    border-right: 1px solid #ccc;
}

.yx-footer-intro-title {
    width: 360px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    vertical-align: middle;
}

.yx-footer-intro-c1-content1 {
    width: 80px;
    height: 100px;
    border: 1px solid #ccc;
    float: left;
    margin-top: 20px;
    margin-left: 80px;
    text-align: center;
}

.yx-footer-intro-c1-content2 {
    width: 80px;
    height: 100px;
    border: 1px solid #ccc;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}
.yx-footer-server {
    width: 100%;
    height: 70px;
    background-color: #414141;
}

.yx-footer-server-content {
    width: 1090px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 auto;
    color: #9d9d9d;
    font-size: 13px;
}

/* footer  */

.yx-footer-server-content ul{
    padding-top: 10px;
    list-style-type: none;
    text-align: center;

}
.yx-footer-server-content ul li{
    display: inline-block;
}


.yx-footer-server-content p{
    text-align: center;
}

.icon-yx-server {
    display: inline-block;
    width: 31px;
    height: 26px;
    background-image: url("images/erji.png");
    margin-top: 25px;
}

.yx-footer-intro-c1-content1 p{
    margin-top: 8px;
    font-size: 14px;
    color: #9d9d9d;
}

.icon-yx-intro {
    display: inline-block;
    width: 30px;
    height: 26px;
    background-image: url("images/info.png");
    margin-top: 25px;
    overflow: hidden;
}

.yx-footer-intro-c1-content2 p{
    margin-top: 8px;
    font-size: 14px;
    color: #9d9d9d;
}

.yx-intro-text{
    margin: 0 auto;
    font-size: 12px;
    width: 280px;
    line-height: 2;
    color: #9d9d9d;
    margin-top: 20px;
}

.yx-link {
    width: 280px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
}

.yx-intro-link {
    display: inline-block;
    font-size: 12px;
    width: 60px;
    color: #9d9d9d;
    vertical-align: middle;
    line-height: 40px;
}

.yx-intro-img {
    width: 210px;
    height: 50px;
    float: right;
    display: inline-block;
}

.yx-footer-intro-c1-content2 img {
    float: left;
    line-height: 50px;
    vertical-align: middle;
}

.yx-footer-quality {
    width: 1090px;
    height: 120px;
    border-bottom: 1px solid #454545;
    margin: 0 auto;
}

.yx-footer-quality li{
    list-style: none;
    float: left;
    width: 361px;
    height: 120px;
}






















